
@import "compass";

/* --------- normalize --------- */

@import "_misc/normalize";

/* --------- fonts --------- */

@import "_misc/fonts";

/* --------- mixins --------- */

@import "_misc/mixins";

/* --------- adjustment --------- */

@import "_misc/adjustment";

/* --------- misc icon sprite --------- */

$misc-sprite: sprite-map('icons/_misc/*.png', $spacing: 70px);

/* --------- common colors --------- */

$black: #333;
$orange: #ff6600;
$grey: #dee1e4;

/* --------- plugins --------- */

@import "_plugins/jquery-ui";
@import "_plugins/select2";

/* --------- widgets --------- */

@import "_widgets/slider";
@import "_widgets/select";

/* --------- sections --------- */

@import "_sections/header";

@import "_sections/nav";

@import "_sections/breadcrumbs";

@import "_sections/content";

@import "_sections/sidebar";

@import "_sections/attension";

@import "_sections/footer";

@import "_sections/sort";

@import "_sections/products";

@import "_sections/pagination";

