.breadcrumbs
    .container
        ul.breadcrumbs__list
            - var items = ["Главная", "Каталог"]
            each item in items
                li(class="breadcrumbs__item" + ((item == "Каталог") ? " breadcrumbs__item-active" : ""))
                    a(href="#").breadcrumbs__link= item
